<form asp-controller="Resources" asp-action="DeleteResources" method="post">
    <h2>Are you sure you want to delete this?</h2>
    <table>

        <tr>
            <td colspan="2"><input id="Submit" type="submit" name="command" value="Delete" /></td>

            <td colspan="2"><input id="Submit" type="submit" name="command" value="Cancel" /></td>
        </tr>
    </table>
</form>
