@model Bushel.Idserver.Management.Models.ApiResources.ApiResourcesDTO
@*business logic delete button maintain state and give server side validation

try to give validation on edit and add will automatically work

 validation
 api resoruce
 enabled
 required emphasize
 show in discovery document
 expiration*@


<script>
    let UserClaimIndex = 1;
    let ScopeUserClaimindex = 0;
    let Scope = 1;
    let Secret = 1;
    //<div>
    //    <label asp-for="UserClaims" class="control-label"></label>
    //    <div class="form-inline">
    //        <input asp-for="UserClaims[0].Type" class="form-control">
    //            <input type="button" value="Delete" class="btn btn-primary btn-sm active"></input>
    //            </div>
    //        <span asp-validation-for="UserClaims[0].Type" class="text-danger"></span>
    //    </div>
    //Adding UserClaims
    function AddUserClaim(id) {
        let element = document.createElement("input");
        element.name = "UserClaims[" + UserClaimIndex + "].Type";

        element.type = "text";
        element.classList.add("form-control");
        var divOuter = document.createElement("div");
        divOuter.id = "UserClaims" + UserClaimIndex;
        var divInner = document.createElement("div");
        divInner.className = "form-inline";
        divOuter.appendChild(divInner);
        divInner.appendChild(element);
        var delButton = document.createElement("input");
        delButton.setAttribute("onclick", "DeleteUserClaim('UserClaims1')");
        delButton.type = "button";
        delButton.value = "Delete";
        delButton.classList.add("btn", "btn-primary", "btn-sm", "active");
        divInner.appendChild(delButton);
        let row = document.getElementById(id);
        row.appendChild(divOuter);
        UserClaimindex++;
    }
    function DeleteUserClaim(id) {
        if (document.getElementById(id)) {
            var child = document.getElementById(id);
            child.parentNode.removeChild(child);
            //var child = document.getElementById(id);
            //document.getElementById(id).lastChild.remove(this.id);
            UserClaimIndex++;
        }
    }
    //Adding Api Secrets
    function AddApiSecret(id) {
        let divisionApiSecrets = document.getElementById(id);
        var mainDiv = document.createElement("div");
        mainDiv.id = "ApiSecret" + Secret;
        var heading = document.createElement("h4");
        heading.innerHTML = "ApiSecret : " + (Secret + 1);
        mainDiv.appendChild(heading);
        var divRow = document.createElement('div');
        divRow.className = 'row';
        //typeElement
        var divTypeElement = document.createElement("div");
        divTypeElement.className = "form-group col-md-6";
        var typeElement = document.createElement("input");
        typeElement.className = "form-control";
        typeElement.name = "Secrets[" + Secret + "].Type";
        var typeLabel = document.createElement("LABEL");
        var text = document.createTextNode("Type");
        typeLabel.setAttribute("for", "Type");
        typeLabel.appendChild(text);
        typeLabel.className = "control-label";
        divTypeElement.appendChild(typeLabel);
        divTypeElement.appendChild(typeElement);
        divRow.appendChild(divTypeElement);
        mainDiv.appendChild(divRow);

        //descriptionElement
        var divDiscriptionElement = document.createElement("div");
        divDiscriptionElement.className = "form-group col-md-6";
        var descriptionElement = document.createElement("input");
        descriptionElement.className = "form-control";
        descriptionElement.name = "Secrets[" + Secret + "].Description";
        var descriptionLabel = document.createElement("LABEL");
        var text = document.createTextNode("Description");
        descriptionLabel.setAttribute("for", "Description");
        descriptionLabel.appendChild(text);
        descriptionLabel.className = "control-label";
        divDiscriptionElement.appendChild(descriptionLabel);
        divDiscriptionElement.appendChild(descriptionElement);
        divRow.appendChild(divDiscriptionElement);
        mainDiv.appendChild(divRow);

        //valueElement
        var divRow2 = document.createElement('div');
        divRow2.className = 'row';
        var divValueElement = document.createElement("div");
        divValueElement.className = "form-group col-md-6";
        var valueElement = document.createElement("input");
        valueElement.className = "form-control";
        valueElement.name = "Secrets[" + Secret + "].Value";
        var valueLabel = document.createElement("LABEL");
        var text = document.createTextNode("Value");
        valueLabel.setAttribute("for", "Value");
        valueLabel.appendChild(text);
        valueLabel.className = "control-label";
        divValueElement.appendChild(valueLabel);
        divValueElement.appendChild(valueElement);
        divRow2.appendChild(divValueElement);
        mainDiv.appendChild(divRow2);

        //expirationElement
        var divExpirationElement = document.createElement("div");
        divExpirationElement.className = "form-group col-md-6";
        var expirationElement = document.createElement("input");
        expirationElement.setAttribute("type", "datetime-local");
        expirationElement.className = "form-control";
        expirationElement.name = "Secrets[" + Secret + "].Expiration";
        var expirationLabel = document.createElement("LABEL");
        var text = document.createTextNode("Expiration");
        expirationLabel.setAttribute("for", "Expiration");
        expirationLabel.appendChild(text);
        expirationLabel.className = "control-label";
        divExpirationElement.appendChild(expirationLabel);
        divExpirationElement.appendChild(expirationElement);
        divRow2.appendChild(divExpirationElement);
        mainDiv.appendChild(divRow2);


        //delButton
        var divRow3 = document.createElement('div');
        divRow3.className = 'row';
        divRow3.className = "form-group col-md-6";
        var delButton = document.createElement("input");
        delButton.setAttribute("onclick", "DeleteApiSecret('ApiSecret1')");
        delButton.type = "button";
        delButton.value = "Delete";
        delButton.classList.add("btn", "btn-primary", "btn-sm", "active");
        divRow3.appendChild(delButton);
        mainDiv.appendChild(divRow3);
        divisionApiSecrets.appendChild(mainDiv);
        Secret++;

    }
    function DeleteApiSecret(id) {
        if (document.getElementById(id)) {
            var child = document.getElementById(id);
            child.parentNode.removeChild(child);
            //var child = document.getElementById(id);
            //document.getElementById(id).lastChild.remove(this.id);
            Secret--;
        }
    }

    //Adding Api Scopes
    function AddApiScope(id) {
        var divisionApiScopes = document.getElementById(id);
        var mainDiv = document.createElement("div");
        mainDiv.id = "ApiScope" + Scope;
        var heading = document.createElement("h4");
        heading.innerHTML = "ApiScope : " + (Scope + 1);
        mainDiv.appendChild(heading);
        var divRow = document.createElement('div');
        divRow.className = 'row';
        //nameElement
        var divNameElement = document.createElement("div");
        divNameElement.className = "form-group col-md-6";
        var nameElement = document.createElement("input");
        nameElement.className = "form-control";
        nameElement.name = "Scopes[" + Scope + "].Name";
        var nameLabel = document.createElement("LABEL");
        var text = document.createTextNode("Name");
        nameLabel.setAttribute("for", "Name");
        nameLabel.appendChild(text);
        nameLabel.className = "control-label";
        divNameElement.appendChild(nameLabel);
        divNameElement.appendChild(nameElement);
        divRow.appendChild(divNameElement);
        mainDiv.appendChild(divRow);
        //displayNameElement
        var divDisplayNameElement = document.createElement("div");
        divDisplayNameElement.className = "form-group col-md-6";
        var displayNameElement = document.createElement("input");
        displayNameElement.className = "form-control";
        displayNameElement.name = "Scopes[" + Scope + "].DisplayName";
        var displayNameLabel = document.createElement("LABEL");
        var text = document.createTextNode("Display Name");
        displayNameLabel.setAttribute("for", "DisplayName");
        displayNameLabel.appendChild(text);
        displayNameLabel.className = "control-label";
        divDisplayNameElement.appendChild(displayNameLabel);
        divDisplayNameElement.appendChild(displayNameElement);
        divRow.appendChild(divDisplayNameElement);
        mainDiv.appendChild(divRow);
        //descriptionElement
        var divRow2 = document.createElement('div');
        divRow2.className = 'row';
        var divDiscriptionElement = document.createElement("div");
        divDiscriptionElement.className = "form-group col-md-6";
        var descriptionElement = document.createElement("input");
        descriptionElement.className = "form-control";
        descriptionElement.name = "Scopes[" + Scope + "].Description";
        var descriptionLabel = document.createElement("LABEL");
        var text = document.createTextNode("Description");
        descriptionLabel.setAttribute("for", "Description");
        descriptionLabel.appendChild(text);
        descriptionLabel.className = "control-label";
        divDiscriptionElement.appendChild(descriptionLabel);
        divDiscriptionElement.appendChild(descriptionElement);
        divRow2.appendChild(divDiscriptionElement);
        mainDiv.appendChild(divRow2);
        //userClaims Element
        var divRow5 = document.createElement('div');
        divRow5.className = 'row';
        var divPart = document.createElement("div");
        divPart.className = "form-group col-md-4";
        var divUserClaimsElement = document.createElement("div");
        var userClaimElement = document.createElement("input");
        userClaimElement.name = "Scopes[" + Scope + "].UserClaims[" + ScopeUserClaimindex + "].Type";
        userClaimElement.className = "form-control";
        var userClaimLabel = document.createElement("LABEL");
        var text = document.createTextNode("UserClaim");
        userClaimLabel.setAttribute("for", "UserClaims");
        userClaimLabel.appendChild(text);
        userClaimLabel.className = "control-label";
        divUserClaimsElement.appendChild(userClaimLabel);
        divUserClaimsElement.appendChild(userClaimElement);
        divPart.appendChild(divUserClaimsElement);
        divRow5.appendChild(divPart);
        mainDiv.appendChild(divRow5);
        //requiredElement
        var divRow3 = document.createElement('div');
        divRow3.className = 'row';
        var divRequiredElement = document.createElement("div");
        divRequiredElement.className = "form-group col-md-6";
        var requiredElement = document.createElement("input");
        requiredElement.type = "checkbox";
        requiredElement.value = "true";
        requiredElement.name = "Scopes[" + Scope + "].Required";
        var requiredLabel = document.createElement("LABEL");
        var text = document.createTextNode("Required");
        requiredLabel.setAttribute("for", "Required");
        requiredLabel.appendChild(requiredElement);
        requiredLabel.appendChild(text);
        requiredLabel.className = "checkbox-inline";
        divRequiredElement.appendChild(requiredLabel);
        divRow3.appendChild(divRequiredElement);
        mainDiv.appendChild(divRow3);
        //emphasizeElement
        var divEmphasizeElement = document.createElement("div");
        divEmphasizeElement.className = "form-group col-md-6";
        var emphasizeElement = document.createElement("input");
        emphasizeElement.type = "checkbox";
        emphasizeElement.value = "true";
        emphasizeElement.name = "Scopes[" + Scope + "].Emphasize";
        var emphasizeLabel = document.createElement("LABEL");
        var text = document.createTextNode("Emphasize");
        emphasizeLabel.setAttribute("for", "Emphasize");
        emphasizeLabel.appendChild(emphasizeElement);
        emphasizeLabel.appendChild(text);
        emphasizeLabel.className = "checkbox-inline";
        divEmphasizeElement.appendChild(emphasizeLabel);
        divRow3.appendChild(divEmphasizeElement);
        mainDiv.appendChild(divRow3);
        //showInDiscoveryDocumentElement
        var divRow4 = document.createElement('div');
        divRow4.className = 'row';
        var divShowDiscElement = document.createElement("div");
        divShowDiscElement.className = "form-group col-md-6";
        var showDiscElement = document.createElement("input");
        showDiscElement.type = "checkbox";
        showDiscElement.value = "true";
        showDiscElement.name = "Scopes[" + Scope + "].ShowInDiscoveryDocument";
        var showDiscLabel = document.createElement("LABEL");
        var text = document.createTextNode("ShowInDiscoveryDocument");
        showDiscLabel.setAttribute("for", "ShowInDiscoveryDocument");
        showDiscLabel.appendChild(showDiscElement);
        showDiscLabel.appendChild(text);
        showDiscLabel.className = "checkbox-inline";
        divShowDiscElement.appendChild(showDiscLabel);
        divRow4.appendChild(divShowDiscElement);
        mainDiv.appendChild(divRow4);


        //delButton
        var divRow6 = document.createElement('div');
        divRow6.className = 'row';
        divRow6.className = "form-group col-md-6";
        var delButton = document.createElement("input");
        delButton.setAttribute("onclick", "DeleteApiScope('ApiScope1')");
        delButton.type = "button";
        delButton.value = "Delete";
        delButton.classList.add("btn", "btn-primary", "btn-sm", "active");
        divRow6.appendChild(delButton);
        mainDiv.appendChild(divRow6);
        divisionApiScopes.appendChild(mainDiv);
        Scope++;
    }
    function DeleteApiScope(id) {
        if (document.getElementById(id)) {
            var child = document.getElementById(id);
            child.parentNode.removeChild(child);
            //var child = document.getElementById(id);
            //document.getElementById(id).lastChild.remove(this.id);
            Scope--;
        }

    }
</script>
<h1 style="padding-left:150px; padding-right:150px;">Resources Profile Page</h1>
<h3>ApiResource</h3>
<form asp-controller="Resources" asp-action="AddApiResources" method="post" name="form" onsubmit=" FormValidation();" style="padding-left:150px; padding-right:150px;">
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="DisplayName" class="control-label"></label>
            <input asp-for="DisplayName" class="form-control" />
            <span asp-validation-for="DisplayName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <div>
                <label asp-for="UserClaims" class="control-label"></label>
                <div class="form-inline">
                    <input asp-for="UserClaims[0].Type" class="form-control">
                    <input type="button" value="Delete" class="btn btn-primary btn-sm active"></input>
                </div>
                <span asp-validation-for="UserClaims[0].Type" class="text-danger"></span>
            </div>
            <div id="UserClaim">

            </div>
            <div id="dynamicInput" style="padding:10px">
                <input type="button" class="btn btn-primary btn-sm active" value="Add UserClaim" onClick="AddUserClaim('UserClaim');">
                <input type="button" class="btn btn-primary btn-sm active" value="Delete " onClick="DeleteUserClaim('UserClaim');">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Enabled" class="checkbox-inline">
                <input type="checkbox" asp-for="Enabled" />Enabled
            </label>
        </div>
    </div>

    <h3>ApiSecrets</h3>
    <h4>ApiScope : 1</h4>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Secrets[0].Type" class="control-label"></label>
            <input asp-for="Secrets[0].Type" class="form-control" />
            <span asp-validation-for="Secrets[0].Type" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Secrets[0].Description" class="control-label"></label>
            <input asp-for="Secrets[0].Description" class="form-control" />
            <span asp-validation-for="Secrets[0].Description" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Secrets[0].Value" class="control-label"></label>
            <input asp-for="Secrets[0].Value" class="form-control" />
            <span asp-validation-for="Secrets[0].Value" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Secrets[0].Expiration" class="control-label"></label>
            <input asp-for="Secrets[0].Expiration" class="form-control" />
            <span asp-validation-for="Secrets[0].Expiration" class="text-danger"></span>
        </div>
    </div>
    <div id="ApiSecrets">
    </div>
    <div id="dynamicInputForScope" style="padding:10px">
        <input type="button" class="btn btn-primary btn-sm active" value="Add ApiSecret" onClick="AddApiSecret('ApiSecrets');">
        <input type="button" class="btn btn-primary btn-sm active" value="Delete " onClick="DeleteApiSecret('ApiSecrets');">
    </div>
    <h3>ApiScopes</h3>
    <h4>ApiScope : 1</h4>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Scopes[0].Name" class="control-label"></label>
            <input asp-for="Scopes[0].Name" class="form-control" />
            <span asp-validation-for="Scopes[0].Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Scopes[0].DisplayName" class="control-label"></label>
            <input asp-for="Scopes[0].DisplayName" class="form-control" />
            <span asp-validation-for="Scopes[0].DisplayName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Scopes[0].Description" class="control-label"></label>
            <input asp-for="Scopes[0].Description" class="form-control" />
            <span asp-validation-for="Scopes[0].Description" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <div id="ScopeUserClaim">
                <label for="UserClaim" class="control-label"></label>
                <input asp-for="Scopes[0].UserClaims[0].Type" class="form-control">
                <span asp-validation-for="Scopes[0].UserClaims[0].Type" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Scopes[0].Required" class="checkbox-inline">
                <input type="checkbox" asp-for="Scopes[0].Required" />Required
            </label>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Scopes[0].Emphasize" class="checkbox-inline">
                <input type="checkbox" asp-for="Scopes[0].Emphasize" />Emphasize
            </label>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Scopes[0].ShowInDiscoveryDocument" class="checkbox-inline">
                <input type="checkbox" asp-for="Scopes[0].ShowInDiscoveryDocument" />ShowInDiscoveryDocument
            </label>
        </div>
    </div>

    <div id="ApiSopes">
    </div>
    <div id="dynamicInputForScope" style="padding:10px">
        <input type="button" class="btn btn-primary btn-sm active" value="Add ApiScopes" onClick="AddApiScope('ApiSopes');">
        <input type="button" class="btn btn-primary btn-sm active" value="Delete " onClick="DeleteApiScope('ApiSopes');">
    </div>


    <button type="submit" class="btn btn-primary btn-lg active">Save</button>

</form>
